body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../images/logo.jpeg);
  background-position: 70% 50%;
  color: white;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(206, 200, 200, 0.241);
  margin-top: 50px;
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px inset, 5px 5px 5px; */
  box-shadow: 2px 5px 1px inset, 2px 5px 1px;
  color: black;
  padding: 30px;
  transition: padding .5s;
  margin-top: 30px;
  width: 300px;
  height: 583px;
}
.list {
  min-width: 180px;
  font-size: 12px;
  font-family: cairo;
  cursor: pointer;
  width: 100px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 10px;
  background: #0a1951;
  box-shadow: 5px 5px 5px inset black;
  color: white;
  font-weight: 900;
  border: none;
}
.list:hover {
  width: 80px;
  font-size: 8px;
}
.sen {
  min-width: 180px;
  font-size: 20px;
  font-family: cairo;
  cursor: pointer;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background: #0a1951;
  box-shadow: 5px 5px 5px inset black;
  color: white;
  font-weight: 900;
  border: none;
}
.sen:hover {
  opacity: 0.8;
  font-size: 12px;
}
.main img {
  width: 80px;
  margin: 35px;
  border-radius: 20%;
}
img:hover {
  opacity: 0.8;
  padding: 10px;
}
.main a {
  border-bottom: 1px solid black;
}
.looklist {
  border: none !important;
}
.info {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  background-color: rgba(206, 200, 200, 0.683);
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 2px 5px 1px inset, 2px 5px 1px;
  padding: 30px;
  margin-top: 30px;
  width: 300px;
  color: black;
}
.info img:hover {
  padding: 0 !important;
  opacity: 1;
}
.in-logo {
  position: absolute;
  right: 4%;
  top: 15px;
  width: 55px;
  border-radius: 20%;
  grid-area: log;
}
.description {
  direction: rtl;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
}
.h-main {
  color: rgb(12, 1, 1);
  border-bottom: 3px solid black;
  font-size: 20px !important;
  margin-top: 43px !important;
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  height: 583px;
  padding: 10px;
}
.description {
  font-size: 15px;
  padding: 0px 0px 30px 0px;
}
.in-logo:hover {
  opacity: 0.6 !important;
}
* {
  box-sizing: border-box;
}
.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

@media (max-width: 1750px) {
  .foot {
    height: 10% !important;
    padding: 10px !important;
  }
}

@media (max-width: 1024px) {
  .foot {
    position: absolute;
    bottom: -111px !important;
    width: 100%;
    height: 15%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
}
@media (max-width: 800px) {
  .foot {
    position: absolute;
    bottom: -109px;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
}
@media (max-width: 651px) {
  .main-like::before {
    bottom: 28%;
    opacity: 0.5 !important;
  }
  .like {
    bottom: 30%;
  }
  .foot {
    line-height: 1.8;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 10px;
    font-size: 10px;
    padding: 26;
    height: 160px !important;
  }
  .foot .phone {
    font-size: 8px;
    right: 20px;
    margin-bottom: 15px;
  }
  .foot .gmail {
    font-size: 8px;
    margin-bottom: 15px;
    left: 0;
  }
  .info {
    height: fit-content !important;
  }
  .description {
    font-size: 14px !important;
    line-height: 1.2 important;
  }
}
@media (max-width:651px) {
  body {
    flex-direction: column;
    background-image: url(../images/logo-smal2.jpeg);
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center top;
  }
  img {
    width: 40px !important;
  }
  .sen {
    width: 100px;
    height: 50px;
  }
  .main-like::before {
    bottom: 28%;
    opacity: 0.2 !important;
    right: 1% !important;
  }
  .in-logo {
    width: 50px !important;
  }
}
.sen {
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  background-color: #eee;
}
.addNewOrder::before {
  content: 'اطلب الأن';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anim 3s ease forwards;
  animation-iteration-count: infinite;
}
@keyframes anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.swal2-confirm {
  position: relative !important;
  top: -40px !important;
}
path {
  bottom: 0;
}
.like {
  background-color: transparent;
  outline-style: none;
  position: fixed;
  border: none;
  z-index: 0;
  z-index: 1111;
  right: -40px;
}
.like button img {
  width: 60px;
  position: absolute;
  bottom: -150%;
  z-index: 555;
  right: 10px;
  cursor: pointer;
  transform: rotatey(550deg);
  transform-origin: left;
}
.like::before {
  content: "1.850";
  position: absolute;
  color: aliceblue;
  z-index: 5555;
  font-size: 20px;
}
#count-display {
  position: relative;
  bottom: 1%;
  right: 15px;
  color: white;
  font-weight: bold;
}
.main-like {
  position: relative;
}
.main-audio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.info-order {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 10px;
  text-shadow: 5px 5px 5px rgb(255, 255, 255);
  position: absolute;
  top: 20px;
  opacity: 0.2;
}
audio {
  width: 180px;
  height: 20px;
  position: absolute;
  top: 70px;
  background: #5d1d1d;
  outline-style: none;
  border-radius: 20px !important;
  opacity: 0.5;
}
.whatsapp {
  position: fixed;
  bottom: 5%;
  right: -20px;
  z-index: 222;
  border-bottom: none !important;
  padding: 0 !important;
}
.countdown {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: 5px 5px 5px black;
  background-color: transparent;
  box-shadow: 5px 5px 5px black;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
}
.countdown span {
  color: rgb(0, 0, 0);
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.268);
  font-size: 30px;
}
